* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

div {
    border-style: solid;
    width: 300px;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 2rem;
    grid-template-columns: 1fr 1fr;
}

.iPhones {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.content {
    grid-column: 1fr 1fr;
    background-color: beige;
}

ol .iPhones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.iP15Pm {
    background-color: grey;
}

.iP15P {
    background-color: pink;
}

.iPhoneRosa {
    color: rgb(119, 91, 96);
}

.iPhoneCinza {
    color: rgb(217, 217, 217);
}

@media screen and (min-width: 380px) {
    .iPhones {
      grid-template-columns: 1fr 1fr;
    }
  }

@media screen and (min-width: 576px) {
    .iPhones {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

@media screen and (min-width: 992px) {
    .iPhones {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }