*{
    margin: 0 auto;
    padding: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

main{
    margin-top: 200px;
}

p{
    text-align: justify;
    line-height: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

.menu_top{
    width: 100%;
    height: 170px;
    border-top: 10px solid #780000;
    background-color: white;
}

.top_esq{
    width: 140px;
    float: left;
    padding: 10px;
}

.top_dir{
    float: left;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: #780000;
    padding-left: 35px;
    padding-top: 20px;
}

.clear{clear: both;}

.menu_down{
    background-color: #780000;
    height: 40px;
    text-align: center;
}

.menu ul{
    padding: 0;
    width: 700px;
}

.menu ul li{
    color: white;
    float: left;
    width: 160px;
    height: 40px;
    display: inline;
    line-height: 40px;
    position: static;
    background-color: #780000;
}

.menu ul li:hover{
    background-color: rgb(74, 11, 11);
    cursor: pointer;
    transition: 1s;
}

.menu ul ul{
    display: none;
}

.menu ul li:hover > ul{
    display: block;
    cursor: pointer;
}

.menu ul ul ul{
    margin-left: 102px;
    position: absolute;
    top: 0px;
}

.menu ul ul li{
    background-color: rgb(179, 27, 27);
}

.menu ul ul li:hover{
    background-color: rgb(166, 3, 3);
    cursor: pointer;
}

.menu ul ul ul li:hover{
    background-color: rgb(88, 2, 2);
    cursor: pointer;
}

.meio{
    margin: 0;
    padding: 0;
}
